.Flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  background: red;
  padding: 10px;
}

.flex-item{
  padding: 20px;
  margin: 10px;
  font-size: 100px;
  border: #fff solid 10px;
  width: 50px;
}
